ADMIN_EMAIL=kubefirst-bot@kubefirst.com
CLUSTER_NAME=Kubefirst
GITHUB_HOST=github.com
GITHUB_OWNER=Kubefirst
HOSTED_ZONE_NAME=your-company.io
ARGO_WORKFLOWS_URL=https://argo.your-company.io
VAULT_URL=https://vault.your-company.io
ARGO_CD_URL=https://argocd.your-company.io
ATLANTIS_URL=https://atlantis.your-company.io
METAPHOR_DEV=https://metaphor-development.your-company.io
METAPHOR_GO_DEV=https://metaphor-go-development.your-company.io
METAPHOR_FRONT_DEV=https://metaphor-frontend-development.your-company.io
METAPHOR_STAGING=https://metaphor-staging.your-company.io
METAPHOR_GO_STAGING=https://metaphor-go-staging.your-company.io
METAPHOR_FRONT_STAGING=https://metaphor-frontend-staging.your-company.io
METAPHOR_PROD=https://metaphor-production.your-company.io
METAPHOR_GO_PROD=https://metaphor-go-production.your-company.io
METAPHOR_FRONT_PROD=https://metaphor-frontend-production.your-company.io
KUBEFIRST_VERSION=1.10.7
USE_TELEMETRY=true
CLUSTER_ID=04938BCC-84A6-5ABB-AED8-A2CE89919D4E
IS_LOCAL=false
KUBEFIRST_TEAM=true
CLUSTER_TYPE=mgmt
GIT_PROVIDER=github
CLOUD_PROVIDER=aws