body,
#app {
  margin: 0;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
}

.MuiPopover-paper {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}
